.movie-container {
  border: 2px solid;
  border-color: var(--primary-color);
  border-radius: 8px;
  background-color: var(--secondary-color);
  width: 202px;
  height: fit-content;
  text-align: center;
}

.movie-heading {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--accent-color);
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.movie-details-container {
  font-size: 10px;
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
  list-style-type: none;
}

.movie-details-item {
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid;
  background-color: var(--accent-color);
  border-color: var(--shadow-color);
  gap: 5px;
}

.movie-cover {
  width: 200px;
  height: 300px;
}
