.topnav {
}

.topnav-item {
  background-color: var(--accent-color);

  border: 2px solid;
  border-color: var(--shadow-color);
  border-radius: 8px;

  color: white;

  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  text-decoration: none;
  text-align: center;
}

.topnav-item:hover {
  border-color: red;
}
