<div class="user-actions-container">
  <div class="user-actions-button-container">
      @if ((this.currentWatchlistElement$| async) === undefined) {
        <button (click)="addToWatchlist()"><strong>👁 </strong>Add to watchlist</button>
      } @else {
        <button (click)="removeFromWatchlist()"><strong>👁 </strong>Remove from watchlist</button>
        @if (!(this.currentWatchlistElement$| async)?.finished)  {
          <button (click)="setAsFinished()">Mark as already seen</button>
        } @else {
          <button (click)="setAsNotFinished()">Mark as not seen</button>
          <button (click)="addNewReview()">Add new review</button>
        }
      }
  </div>
</div>
