<section *ngIf="loaded && movie !== undefined">
  <article class="movie-details-container">
    <div class="movie-details-container-left">
      <h2 class="movie-details-heading center-align">{{movie.title}}</h2>
      <app-movie-details-row class="movie-details-container-left"
        *ngFor="let md of movieData"
          [message]="md.dataHeader"
          [value]="md.dataValue"
          [visible]='md.dataValue !== ""'>
      </app-movie-details-row>
    </div>

    <div class="movie-details-container-right">
      <div class="image-slider">
        <button *ngIf='canChangeCoverIndex(-1)' (click)="changeCoverIndex(-1)" class="arrow left-arrow">&#8592;</button>
        <img *ngIf='this.currentCover !== ""' class="movie-cover" src="{{this.currentCover}}" alt="Display Image">
        <button *ngIf='canChangeCoverIndex(1)' (click)="changeCoverIndex(1)" class="arrow right-arrow">&#8594;</button>
      </div>
    </div>

  </article>
</section>
