<section *ngIf="loaded && movie !== undefined">
  <article class="movie-details-container">
    <div class="movie-details-container-left">
      <h2 class="movie-details-heading center-align">{{movie.title}}</h2>
      <app-movie-details-row
        *ngFor="let md of movieData"
          [message]="md.dataHeader"
          [value]="md.dataValue"
          [visible]='md.dataValue !== ""'>
      </app-movie-details-row>

      <app-user-actions [movie]="this.movie" [user]="this.user"></app-user-actions>


    <div class="user-reviews-rating">
      <span>10 Star Rating System (displayed as movie icons)</span>
    </div>

    <div class="user-reviews-container">
      <div class="user-reviews-add-container">

      </div>
      <div class="user-reviews-list-container">
        <div class="user-reviews-list-filter-container">
          <span>Choose to show only user reviews or all public reviews</span>
        </div>
      </div>
    </div>

    </div>

    <div class="movie-details-container-right">
      <div class="image-slider">
        <button *ngIf='canChangeCoverIndex(-1)' (click)="changeCoverIndex(-1)" class="arrow left-arrow">&#8592;</button>
        <img *ngIf='this.currentCover !== ""' class="movie-cover" src="{{this.currentCover}}" alt="Display Image">
        <button *ngIf='canChangeCoverIndex(1)' (click)="changeCoverIndex(1)" class="arrow right-arrow">&#8594;</button>
      </div>
    </div>

  </article>
</section>
